server:
  port: 8083

spring:
  application:
    name: order-service

  datasource:
    # --- PostgreSQL Configuration ---
    url: jdbc:postgresql://localhost:5433/customer_db
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver

    # --- MySQL Configuration (Commented) ---
    # url: jdbc:mysql://localhost:3306/customer_db
    # username: root
    # password: root
    # driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

feign:
  client:
    config:
      default:
        connectTimeout: 5000
        readTimeout: 5000
